<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>E Mobile Menu Order System.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/emos/css/style.css">
</head>

<body>
    <header id="header02"> <a href="/emos/index.html">
        <img id="logo2" src="/emos/image/logo/logo.png"></a>
        <div class="w3-display-right" style="margin-right:20px"> <button href="#" class="w3-button" style="border: solid 1px white; border-radius :3px" onclick="document.getElementById('id02').style.display='block'">로그인</button> <a href="#" class="w3-button w3-yellow" style="border-radius :3px">회원가입</a> </div>
        
                            <div id="id02" class="w3-modal">
                        <div class="w3-modal-content w3-animate-top">
                            <div class="w3-container"> 
                                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                
                                
                                
                                
                                <form id="login01" class="w3-display-topmiddle">
                                    <input type="text" id="id" class="w3-display-topleft" value="아이디 입력">
                                    
                                    <input type="password" id="pw" class="w3-display-bottomleft"
                                      >
                                    
                                    <a href="#" class="w3-button w3-display-right">로그인</a>
                                </form>
                                
                                <div class="w3-display-bottommiddle" id="loginservice">
                                <a href="#" class="w3-button w3-indigo">기업회원가입</a>
                                <a href="#" class="w3-button w3-green">아이디 찾기</a>
                                <a href="#" class="w3-button w3-teal">비밀번호 찾기</a>
                                </div>
                            </div>
                        </div>
                    </div>                     
    </header>
    
    
    
    <section id="detail01" class="detail ">
        <div class="w3-content w3-display-container ">
            <img src="/emos/image/store/detail/1112.jpg" width="100%" height="300px">
            
            <div id="detailname" class ="w3-display-middle">
                <div></div>
                <b class ="w3-center">Waffle house</b>
            </div>
            
            <div id="detailinfo" style="color:black" ><br>
                <h3>상세정보</h3>
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 서울 강남구 테헤란로2길 27 2층 (우)06241 지번역삼동 826-26 <br>
                </p>
                <p>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>                
                영업시간 (현)영업중
                 매일 11:00 ~ 23:00<br>
                </p>

                <p>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                홈페이지
                 emoi.ithope.kr<br>
                </p>
                
                <p>                
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                연락처
                 02-568-0788 대표번호<br>
                </p>                

                <p>                
                <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                대표메뉴 : 아메리카노, 레드벨벳케익, 트와이스 라떼<br>
                </p>                
            </div>
        </div>
    </section>

    <section id="detail02" class="detail">
        <div class="w3-content w3-display-container w3-display-middle">
            <!-- * Daum 지도 - 지도퍼가기 -->
            <!-- 1. 지도 노드 -->
            <div id="daumRoughmapContainer1501481393966" class="root_daum_roughmap root_daum_roughmap_landing"></div>

<!--
	2. 설치 스크립트
	* 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
-->
            <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://spi.maps.daum.net/imap/map_js_init/roughmapLoader.js"></script>

<!-- 3. 실행 스크립트 -->
            <script charset="UTF-8">
	            new daum.roughmap.Lander({
		          "timestamp" : "1501481393966",
                  "key" : "iwt3",
		          "mapHeight" : "300"
	            }).render();
            </script>
        </div>
    </section>

    <section id="detail03" class="detail">
        <div class="w3-content w3-display-container" >
            <a class="w3-btn w3-ripple w3-yellow" style="width:100%" href="menu.html"><b>메뉴판 가기</b></a>
        </div>
    </section>

    <section id="detail04" class="detail">
        <div class="w3-content w3-display-container" style="padding:0px">
            <div class="col-sm-12 col-md-6 col-lg-4" >
                    <img src="/emos/image/store/search/3333.jpg" style="width:100%">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-4" >
                    <img src="/emos/image/store/search/1111.jpg" style="width:100%">
            </div>
            <div class="col-sm-12 col-md-3 col-lg-4" >
                    <img src="/emos/image/store/search/4444.jpg" style="width:100%">
            </div>
        </div>
</section>
    
    <section id="detail05" class="detail">
        <div class="w3-content w3-display-container" >
            <div id="score">

                <h3>- 평가하기 -</h3>
                <h4>4.1 점 ★★★★☆</h4>
                <form id="review" style="position:relative">
                    
                    <textarea id="reviewfield"></textarea>
                    <button class="w3-button w3-yellow w3-display-bottomright" onclick="submit">입력하기</button>

                </form>
                <hr>
                
                <table class="w3-table w3-bordered" id="reviewtable">
                    <tr>
                        <td>★★★</td>
                        <td>걸래판 물인줄~ 이래서 평양냉면 평양냉면 하는구나</td>
                        <td>user9**</td>
                    </tr>
                    <tr>
                        <td>★</td>
                        <td>암이 나았어요.~ 뭘 넣은거지..;; 그리고 한여름에 따뜻한 물은 좀..;;</td>
                        <td>923b**</td>
                    </tr>
                    <tr>
                        <td>★★★★★</td>
                        <td>delicious!!! korean is hell~</td>
                        <td>jjih****</td>
                    </tr>
                    
                    <tr>
                        <td>★★</td>
                        <td>여름엔 따뜻하고 겨울엔 시원한 가게..</td>
                        <td>jjih****</td>
                    </tr>

                    <tr>
                        <td>★</td>
                        <td>손맛 손맛 하더니 정말로 손톱이 나왔어요!! ㅅㅂ..</td>
                        <td>jjih****</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    
    <footer>
        <div class="w3-content w3-display-container" >
                 <a href="#">개인정보 처리방침</a> | <a href="#">저작권 정책</a> | <a href="#">관련
						사이트</a>
                    <br>
                    <br>
                    <p>(34055) 경기도 안양시 동안구 호계동 전화: 010-6635-7088, 팩스: 031-123-5678</p>
                    <p>Copyright (C) 2017 KH Information & Security Institute. All Rights Reserved.</p>
                </div>
    </footer>
</body>

</html>