<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>아이디/패스워드 찾기</title>
<meta charset="utf-8">
<style type="text/css">
td {font-family: "돋음"; color: #666666; font-size: 9pt; line-height: 16px;}
A:link     {text-decoration:none;      color:#666666;}
A:visited  {text-decoration:none;      color:#666666;}
A:active   {text-decoration:none;      color:#666666;} 
A:hover    {text-decoration:none;      color:#7EABD2;}
img { border:0; }
</style>
<script language="javascript">
function this_it(form) {
		
		if(!form.mem_name.value){
			alert("이름을 입력해주세요");
			form.mem_name.focus();
			return false;
		}
		if(!form.email1.value || !form.email2.value) {
			alert('이메일주소를 바르게 입력하세요');
			form.email1.value='';
			form.email2.value='';
			form.email1.focus();
			return false;
		}
	return true;
}

</script>
</head>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<table width="429px;" cellpadding="0" cellspacing="0" border="0" align="center">
				<Tr>
					<td><img src="/emos/image/id_password/idfindlogo.jpg"></td>
				</tr>
				<tr>
					<td style="border:2px solid #e5e5e5;" >
						<form name="F" method="post" action="/emos/idsearch" onsubmit="return this_it(this)">
						<input type="hidden" name="mode" value="SEARCH">
						<Table width="374" cellpadding="0" cellspacing="0" border="0" align="center">
							<tr>
								<Td height="13px;"></td>
							</tr>
														<tr>
								<td>
									<Table width="" cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td><img src="/emos/image/id_password/id_search.jpg" style="margin-top:2px;"></td>
											<Td width="40px;"></td>
										</tr>
									</table>
								</td>
							</tr>
							<Tr>
								<td height="15px;"></td>
							</tr>
							<tr>
								<td style="border-top:1px solid #dedede;">&nbsp;</td>
							</tr>
							<Tr>
								<td height="10px;"></td>
							</tr>
								<tr id="mode1" style="display:none;">
									
								</tr>
								<tr>
									<td>
										<Table width="" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td><img src="/emos/image/id_password/name.jpg" ></td>
												<td><input type="text" name="mem_name" maxlength="100" style="width:109; height:21px; color:#666666; font-size:10pt; background-color:#ffffff; border:2 #cccccc solid"></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td height="5px;"></td>
								</tr>
								<tr>
									<td>
										<Table width="" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td><img src="/emos/image/id_password/email.jpg" ></td>
												<td><input type="text" name="email1" style="width:109; height:21px; color:#666666; font-size:9pt; background-color:#ffffff; border:2 #cccccc solid"><img src="/emos/image/id_password/email_line.jpg" align="absmiddle"><input type="text" name="email2" style="width:109; height:21px; color:#666666; font-size:9pt; background-color:#ffffff; border:2 #cccccc solid"></td>
											</tr>
										</table>
									</td>
								</tr>
								<Tr>
									<td height="15px;"></td>
								</tr>

							<tr>
								<td style="border-top:1px solid #dedede;">&nbsp;</td>
							</tr>
							<tr>
								<td height="5px;"></td>
							</tr>
							<Tr>
								<td align="center"><input type="image" src="/emos/image/id_password/confirm.jpg"></td>
							</tr>
							<tr>
								<td height="20px;"></td>
							</tr>
							</form>

								
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>