            /*
            =====================
            ==      lay out    ==
            =====================
            */
            
            * {
                padding: 0px;
                margin: 0px;
                color: white;
            }
            
            body {
                background-color: ivory;
            }
            
            .container {
                position: relative;
            }
            /*
            =====================
            ==   background    ==
            =====================
            */
            
            .carousel {
                position: fixed;
                width: 100%;
                height: 100%;
            }
            
            .item img {
                width: 100%
            }
            
            .right,
            .left {
                display: none;
            }
            
            #blackpad {
                width: 100%;
                height: 1000px;
                background-color: black;
                opacity: 0.8;
                position: fixed;
            }
            /*
            =====================
            ==      logo       ==
            =====================
            */
            
            #logobox {
                width: 140px;
                height: 140px;
                margin-left: 5%;
                margin-bottom: 20px;
                padding: 20px;
                background-color: #0c0642;
                color: white;
                font-size: 12px;
                font-weight: bold;
                box-shadow: 3px 3px 3px black;
                position: relative;
            }
            
            #logobox2 {
                width: 100%;
                height: 70px;
                margin-bottom: 20px;
                padding: 20px;
                padding-left: 71px;
                background-color: orange;
                color: white;
                font-size: 12px;
                font-weight: bold;
                box-shadow: 3px 3px 3px #aaaaaa;
                position: relative;
            }
            
            #logo {
                width: 100px;
                height: auto;
            }
            
            #private {
                position: absolute;
                top: 0px;
                right: 0px;
            }
            
            #private div ul li a:hover {
                background: transparent !important;
            }
            
            #private span {
                font-size: 12px;
            }
            /*
            =====================
            ==   background    ==
            =====================
            */
            
            .col-sm-4 {
                border-radius: 2px;
                height: 200px;
            }
            /*
            =====================
            ==      private    ==
            =====================
            */
            
            .modal-header {
                color: black;
            }
            
            .modal-body,
            .modal-body p {
                color: black;
            }
            /*
            =====================
            ==      section    ==
            =====================
            */
                        
            .glyphicon {
                text-align: center;
                font-size: 110px;
                opacity: 0.8;
                top: px;
            }
            
            .glyphicon:hover {
                font-size: 120px;
                opacity: 1;
            }
            
            .gn {
                text-align: center;
            }
            
            .micon {
                text-align: center;
                top: 200px;
            }
            
            #qr {
                position: absolute;
                right: 0;
                bottom: 0;
            }
            /*
            =====================
            ==      footer     ==
            =====================
            */
            
            footer {
                position: relative;
                bottom: 0;
                height: 100px;
                background-color: dimgrey;
            }

            footer div div div a{ color: white}
    
            /*
            =====================
            ==      mobile     ==
            =====================
            */
            
            .mobile {
                display: none;
            }
            
            @media (max-width: 767px) {
                #logobox {
                    width: 100%;
                    margin: 0px;
                    height: 70px;
                }
                #logobox p {
                    display: none;
                }
                .glyphicon {
                    font-size: 50px;
                }
                .mobile {
                    display: block;
                    text-align: center;
                }
                .glyphicon:hover {
                    font-size: 90px;
                    opacity: 1;
                }
            }
            /*
            =====================
            ==      menu     ==
            =====================
            */
            
            #side2{
                position: relative;
                width: 80%;
                height: inherit;
            }
            #side{
                position: relative;
                width: 80%;
                height: inherit;
            }
            
            img {
                width: 100%;
                height: auto;
                position: absolute;
            }
            
            .menu {
                position: absolute;
            }
            
            .mRow1 {
                left: 31%;
                width: 23%;
            }
            
            .mRow2 {
                left: 54%;
                width: 23%;
            }
            
            .mRow3 {
                left: 77%;
                width: 22.5%;
            }
            
            #m01 {
                left: 18%;
                top: 8%;
                width: 12%;
                height: 30%;
            }
            
            #m02 {
                left: 1.5%;
                top: 11%;
                width: 16%;
                height: 33%;
            }
            
            #m03 {
                left: 18%;
                top: 39%;
                width: 12%;
                height: 42%;
            }
            
            #m04 {
                left: 1.5%;
                top: 53%;
                width: 16%;
                height: 44%;
            }
            
            #m1 {
                height: 8%;
                top: 32.5%;
            }
            
            #m2 {
                height: 7.3%;
                top: 40.7%;
            }
            
            #m3 {
                height: 7.4%;
                top: 48.1%;
            }
            
            #m4 {
                height: 7%;
                top: 55.9%;
            }
            
            #m5 {
                height: 7.5%;
                top: 63.5%;
            }
            
            #m6 {
                height: 7.5%;
                top: 70.9%;
            }
            
            #m7 {
                height: 7.5%;
                top: 78.5%;
            }
            
            #m8 {
                height: 12%;
                top: 86.2%;
            }
            
            #m9 {
                height: 8%;
                top: 32.5%;
            }
            
            #m10 {
                height: 7.3%;
                top: 40.7%;
            }
            
            #m11 {
                height: 7.4%;
                top: 48.1%;
            }
            
            #m12 {
                height: 7%;
                top: 55.9%;
            }
            
            #m13 {
                height: 7.5%;
                top: 63.5%;
            }
            
            #m14 {
                height: 7.5%;
                top: 6.0%;
            }
            
            #m15 {
                height: 7.4%;
                top: 13.6%;
            }
            
            #m16 {
                height: 7.4%;
                top: 21.2%;
            }
            
            #m17 {
                height: 7.7%;
                top: 28.7%;
            }
            
            #m18 {
                height: 9%;
                top: 36.7%;
            }
            
            #m19 {
                height: 5.5%;
                top: 74.6%;
            }
            
            #m20 {
                height: 6%;
                top: 80.2%;
            }
            
            #m21 {
                height: 6%;
                top: 86.3%;
            }
            
            #m22 {
                height: 7%;
                top: 92.4%;
            }

        
        .mnRow1 {
            left: 30%;
            width: 22.7%;
        }
        
        .mnRow2 {
            left: 53%;
            width: 23.5%;
        }
        
        .mnRow3 {
            left: 77%;
            width: 22.5%;
        }
        
        
        
        #mn01 {
            left: 1.5%;
            top: 16%;
            width: 27%;
            height: 22%;
        }
        
        #mn02 {
            left: 14%;
            top: 38.5%;
            width: 15%;
            height: 35%;
        }
        
        #mn03 {
            left: 1.5%;
            top: 74%;
            width: 27%;
            height: 24%;
        }
        
        #mn04 {
            left: 1.5%;
            top: 53%;
            width: 16%;
            height: 44%;
        }
        
        
        
        #mn1 {
            height: 28%;
            top: 16.5%;
        }
        
        #mn2 {
            top: 44.7%;
            height: 7%;
        }
        
        #mn3 {
            top: 52.1%;
            height: 7%;
        }
        
        #mn4 {
            top: 59.2%;
            height: 7%;
        }
        
        #mn5 {
            top: 66.5%;
            height: 7%;
        }
        
        #mn6 {
            top: 73.7%;
            height: 7%;
        }
        
        #mn7 {
            top: 80.6%;
            height: 7.1%;
        }
        
        #mn8 {
            top: 88%;
            height: 11%;
            width: 46.5%;
        }
        
        #mn9 {
            height: 28%;
            top: 16.5%;
        }
        
        #mn10 {
            top: 44.7%;
            height: 7%;
        }
        
        #mn11 {
            top: 52.1%;
            height: 7%;
        }
        
        #mn12 {
            top: 59.2%;
            height: 7%;
        }
        
        #mn13 {
            top: 66.5%;
            height: 7%;
        }
        
        #mn14 {
            top: 73.7%;
            height: 7%;
        }
        
        #mn15 {
            top: 80.6%;
            height: 7.1%;
        }
        
        #mn16 {
            top: 23%;
            height: 18%;
        }
        
        #mn17 {
            top: 48%;
            height: 25.5%;
        }
        
        #mn18 {
            top: 80.5%;
            height: 18%;
        }

        .mnRow1 {
            left: 30%;
            width: 22.7%;
        }
        
        .mnRow2 {
            left: 53%;
            width: 23.5%;
        }
        
        .mnRow3 {
            left: 77%;
            width: 22.5%;
        }
        
        
        
        #mn01 {
            left: 1.5%;
            top: 16%;
            width: 27%;
            height: 22%;
        }
        
        #mn02 {
            left: 14%;
            top: 38.5%;
            width: 15%;
            height: 35%;
        }
        
        #mn03 {
            left: 1.5%;
            top: 74%;
            width: 27%;
            height: 24%;
        }
        
        #mn04 {
            left: 1.5%;
            top: 53%;
            width: 16%;
            height: 44%;
        }
        
        
        
        #mn1 {
            height: 28%;
            top: 16.5%;
        }
        
        #mn2 {
            top: 44.7%;
            height: 7%;
        }
        
        #mn3 {
            top: 52.1%;
            height: 7%;
        }
        
        #mn4 {
            top: 59.2%;
            height: 7%;
        }
        
        #mn5 {
            top: 66.5%;
            height: 7%;
        }
        
        #mn6 {
            top: 73.7%;
            height: 7%;
        }
        
        #mn7 {
            top: 80.6%;
            height: 7.1%;
        }
        
        #mn8 {
            top: 88%;
            height: 11%;
            width: 46.5%;
        }
        
        #mn9 {
            height: 28%;
            top: 16.5%;
        }
        
        #mn10 {
            top: 44.7%;
            height: 7%;
        }
        
        #mn11 {
            top: 52.1%;
            height: 7%;
        }
        
        #mn12 {
            top: 59.2%;
            height: 7%;
        }
        
        #mn13 {
            top: 66.5%;
            height: 7%;
        }
        
        #mn14 {
            top: 73.7%;
            height: 7%;
        }
        
        #mn15 {
            top: 80.6%;
            height: 7.1%;
        }
        
        #mn16 {
            top: 23%;
            height: 18%;
        }
        
        #mn17 {
            top: 48%;
            height: 25.5%;
        }
        
        #mn18 {
            top: 80.5%;
            height: 18%;
        }


        #orderside{
            position: fixed;
            width: 18%;
            height: 76.5%;
            background-color: aqua;
            
            top: 10%;
            left : 81%;
            
            border-radius: 10px;
            box-shadow: 2px 2px 3px #555555;
        }

        #orderfield{
            position: absolute;
            background-color: aliceblue;
            border-radius: 8px;
            width: 95%;
            height: 90%;
            left: 2.5%;
            top: 1%;
            box-shadow: -1px -1px 1px black;
        }

#lastorder{
            position: absolute;
            left: 45%;
            bottom: 2%;
    
}

#lastcancle{
            position: absolute;
            left: 75%;
            bottom: 2%;

}